{% extends "layout.html" %}
{% block title %}Profile{% endblock %}

{% block content %}
<h3>Delete Language</h3>
<form action="" method="POST" class="form">

  {% if error %}
  <div class="error">
      {{ error }}
  </div>
  {% endif %}

  {% for kullanici in kullanici %}
      {% if kullanici['user_id'] == session['user_id'] %}
        <h4 class="title">Name: {{ kullanici['user_name'] }}</h4>
        <p>Country: {{ kullanici['country'] }}</p>

        


        <h6> Languages</h6>
        {% for lang in lang_in_lists %}
        
        {% if session['user_id'] == lang['user_id'] %}
          
            {% for  lang_name in lang_names%}
              {% if lang_name['language_id'] ==  lang['language_id']%}
                <input type="checkbox" id="vehicle1" name="language1" value="language_id>
              <label for="vehicle1"> {{lang_name['name']}}</label><br>
              {% endif %}
            {% endfor %}
                  
        {% endif %}
        
        {%endfor%}
      {% endif %}
    {% endfor %}

    <input type="submit" value="Submit">

  
</form>
      

{% endblock content %} <!--layouttaki container i override ediyor. oranın içinda sanki bu content block u varmış gibi-->