{% extends "layout.html" %}
{% block title %}Home{% endblock %}

{% block content %} <!-- layouttaki container i override ediyor-->
<title>"Learn Language"</title>
<section class="hero">
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title">LEARN ANY LANGUAGE IN EXCHANGE</h1>
        <p class="subtitle">Have a nice {{ day }}!</p>
      </div>
    </div>
  </section>

<h2>Do you want to learn a language form native speakers</h2>
<h2>Completely for free :)</h2>

{% endblock content %}