{% extends "layout.html" %}
{% block title %}Home{% endblock %}

{% block content %} <!-- layouttaki container i override ediyor-->
{% for kullanici in kullanici %}
<title>"Learn Language"</title>
<section class="hero">
    <div class="hero-body">
      <div class="container has-text-centered">
        <h4 class="title">{{ kullanici['user_name'] }}</h4>
        
        {% for native in lists %}
          {% if kullanici['user_id'] == native['user_id'] %}
            {% if native['label'] == 0 %}
              <h6>Practicing Languages</h6>
            {% else %}
              <h6>Spoken Languages</h6>
            {% endif %}
              

                  {% for lang_in_lists in lang_in_lists%}
                  {% if lang_in_lists['list_id'] == native['list_id'] %}
                  
                    {% for  lang_name in lang_names%}
                    {% if lang_name['language_id'] ==  lang_in_lists['language_id']%}
                      <ul>
                        <li>{{lang_name['name']}} ( {{ lang_in_lists['level'] }} ) </li>
                      </ul>
                    {% endif %}
                    {% endfor %}
                  
                  {% endif %}
                  {% endfor %}
 
          {% endif %}
        {%endfor%}
          
        <p>Country: {{ kullanici['country'] }}</p>
        <p>Registration date: {{ kullanici['create_date'] }}</p>
        <p>Contact: {{ kullanici['mail'] }}</p>
        <p style="color:rgb(0, 0, 0);font-size:12px;">About: {{ kullanici['description'] }}</p>
        <p> </p>
        <p>**************************</p>
        <p> </p>
        
      </div>
    </div>
  </section>
{% endfor %}

{% for n in native_lang %}
  <p>{{n['list_id']}}</p>
  <p>{{n['user_id']}}</p>
  <p>{{n['label']}}</p>

{%endfor%}


{% endblock content %}