{% extends "layout.html" %}
{% block title %}Profile{% endblock %}

{% block content %}
    <div class="navbar-nav mr-auto">
      <a class="nav-item nav-link" href="{{ url_for('add_language') }}">Add Language</a>
      <a class="nav-item nav-link" href="{{ url_for('delete_language') }}">Delete Language</a>
    </div>
    <h2>PROFILE</h2>

    <h2>Native Languages</h2>
    <ul>
      <li>German</li>
      <li>French</li>
      <li>Korean</li>
    </ul> 

    
    <h2>Practicing Languages</h2>
    <ul>
      <li>German</li>
      <li>French</li>
      <li>Korean</li>
    </ul> 
    
    <h2>Country</h2>
    <ul>
      <li>Turkey</li>
    </ul> 

    <h2>Description</h2>
    <p>Hello! This is Zehra from Turkey. I am learning English.</p>
    <p>And I can help you if you want to learn Turkish.</p>
    <p>I like reading, travelling and playing chess.</p>
      

{% endblock content %} <!--layouttaki container i override ediyor. oranın içinda sanki bu content block u varmış gibi-->