{% extends "layout.html" %}
{% block title %}Profile{% endblock %}

{% block content %}
    <div class="navbar-nav mr-auto">
      <a class="nav-item nav-link" href="{{ url_for('add_language') }}">Add Language</a>
      <a class="nav-item nav-link" href="{{ url_for('delete_language') }}">Delete Language</a>
    </div>
    <h2>PROFILE</h2>

    {% for kullanici in kullanici %}
      {% if kullanici['user_id'] == session['user_id'] %}
        <h4 class="title">Name: {{ kullanici['user_name'] }}</h4>
        <p>Country: {{ kullanici['country'] }}</p>

        {% for native in lists %}
        {% if session['user_id'] == native['user_id'] %}
          {% if native['label'] == 0 %}
            <h6>Practicing Languages</h6>
          {% else %}
            <h6>Spoken Languages</h6>
          {% endif %}
            

                {% for lang_in_lists in lang_in_lists%}
                {% if lang_in_lists['list_id'] == native['list_id'] %}
                
                  {% for  lang_name in lang_names%}
                  {% if lang_name['language_id'] ==  lang_in_lists['language_id']%}
                    <ul>
                      <li>{{lang_name['name']}} ( {{ lang_in_lists['level'] }} ) </li>
                    </ul>
                  {% endif %}
                  {% endfor %}
                
                {% endif %}
                {% endfor %}

        {% endif %}
      {%endfor%}





      {% endif %}
    {% endfor %}

   

{% endblock content %} <!--layouttaki container i override ediyor. oranın içinda sanki bu content block u varmış gibi-->