{% extends "layout.html" %}
{% block title %}Profile{% endblock %}

{% block content %}
    <div class="navbar-nav mr-auto">
      <a class="nav-item nav-link" href="{{ url_for('add_language') }}">Add Language</a>
      <a class="nav-item nav-link" href="{{ url_for('delete_language') }}">Delete Language</a>
    </div>
    <h2>PROFILE</h2>

    {% for kullanici in kullanici %}
      {% if kullanici['user_id'] == session['user_id'] %}
        <h4 class="title">Name: {{ kullanici['user_name'] }}</h4>
        <p>Country: {{ kullanici['country'] }}</p>

        <h6>Practicing Languages</h6>
        {% for lang in lang_in_lists %}
        
        {% if session['user_id'] == lang['user_id'] %}
          {% if lang['label'] == 0 %}
            {% for  lang_name in lang_names%}
              {% if lang_name['language_id'] ==  lang['language_id']%}
                <ul>
                  <li>{{lang_name['name']}}</li>
                </ul>
              {% endif %}
            {% endfor %}
          {% endif %}     
        {% endif %}
        {%endfor%}


        <h6>Learning Languages</h6>
        {% for lang in lang_in_lists %}
        
        {% if session['user_id'] == lang['user_id'] %}
          {% if lang['label'] == 1 %}
            {% for  lang_name in lang_names%}
              {% if lang_name['language_id'] ==  lang['language_id']%}
                <ul>
                  <li>{{lang_name['name']}}</li>
                </ul>
              {% endif %}
            {% endfor %}
          {% endif %}         
        {% endif %}
        
        {%endfor%}
      {% endif %}
    {% endfor %}

   

{% endblock content %} <!--layouttaki container i override ediyor. oranın içinda sanki bu content block u varmış gibi-->